<div class="index">
  <table id="startup-table">

    <thead>
      <tr>
        <th class="left-align">startup name</th>
        <th class="left-align">startup logo</th>
        <th class="left-align">founders</th>
      </tr>
    </thead>

    <tbody>
      <% @startups.each do |startup| %>
        <% unless startup.public_name.blank? %>
        <tr>
          <td><%= startup.public_name %></td>
          <td><%= image_tag(startup.logo, size: "70x70") %></td>
          <td>
            <% startup.founders.each do |founder| %>
            <%= "#{founder.job_title} - #{founder.name}" %><br />
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>
</div>

<script>
$(document).ready(function(){
    $("#startup-table").DataTable();
});
</script>